@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:wght@400;500;600;700;900&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fs-mobile-h1: 2rem;
    --fs-mobile-h2: 1.5rem;
    --fs-mobile-h3: 1.3rem;

    --fs-tablet-h1: 2.4rem;
    --fs-tablet-h2: 1.6rem;
    --fs-tablet-h3: 1.5rem;

    --fs-desktop-h1: 2.7rem;
    --fs-desktop-h2: 1.7rem;
    --fs-desktop-h3: 1.5rem;

    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-black: #0C0C0C; /* Voor standaard tekst */
    --color-light-purple: #F2F0FF; /* Voor grote zwevende woorden zoals "hello" en "services" */
    --color-light-gray: #F3F6F9; /* Voor achtergrond van de projecten */
    --color-gray: #7A7A7A; /* Voor service-tegel tekst */
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
}
h1 {font-size: var(--fs-mobile-h1)}
h2 {font-size: var(--fs-mobile-h2)}
h3 {font-size: var(--fs-mobile-h3)}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input,
textarea,
select,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.container-center {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
}
.btn-styling{
    background-color: var(--color-pink);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    text-transform: uppercase;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-styling:hover{
        transform: translateY(-1px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
.bg-gradient {
    position: relative;
    background: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 100%);
    overflow: hidden;
}

.bg-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(assets/noise-texture.png) repeat;
    opacity: 0.5;
    pointer-events: none;
    z-index: 0;
}
.angle-shape-top {
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
}
.angle-shape-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
}
.angle-shape-both {
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 calc(100% - 30px));
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.container-center__header {
    color: var(--color-light-gray);
}
.container-center__header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 85px;
    background-image: url('assets/squiggle_line_stripe.svg');
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.5rem;
    text-decoration: none;
}
.navbar a, .navbar a:visited, .navbar a:active {
    color: var(--color-light-gray);
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem 0 12rem 0;
    gap: 1.25rem;
}
.header-content p {
    color: var(--color-light-gray);
    font-size: 1.2rem;
}

/* --------------- 4.2 Introduction ------------------- */

.container-introduction {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    margin: 6rem 0;
    position: relative;
}
.container-introduction::after {
    content: "hello";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(8rem, 30vw, 25rem);
    color: var(--color-light-purple);
    opacity: 0.5;
    z-index: -1;
    white-space: nowrap;
}
.container-introduction h2 {
    color: var(--color-purple);
}
.container-introduction p {
    margin-top: 2.5rem;
}

/* ------------------------------- 5. Projecten -------------------------------- */

.container-projects {
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    position: relative;
}
/*.container-projects::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -50px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: calc(100% + 100px);*/
/*    background: var(--color-light-gray);*/
/*    transform: skewY(1.5deg);*/
/*    z-index: -1;*/
/*}*/
.project-article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.project-article:nth-child(even) {
    flex-direction: column-reverse;
}
.project-article-content {
    margin: 2rem 0;
}
.squiggle_line {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}
.squiggle_line::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('assets/squiggle_line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.project-article a,
.project-article a:visited,
.project-article a:hover,
.project-article a:active {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    padding-right: 30px;
    color: var(--color-purple);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;

}
.project-article a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background-color: var(--color-purple);
    transition: width 0.3s ease, right 0.3s ease;
}

.project-article a:hover::after {
    width: 40px;
    right: -20px;
}

.image-wrapper img {
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* ------------------------------- 6. Services -------------------------------- */

.services-article-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 7rem 0;
}
.services-article {
    flex-basis: 340px;
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid var(--color-purple);
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.services-article img {
    width: 80px;
    height: 60px;
}
.services-article h3 {
    color: var(--color-purple);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* ------------------------------- 6. Form -------------------------------- */

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 15px;
    max-width: 800px;
    gap: 1.25rem;
    color: var(--color-light-gray);
}
.container-form h3, .container-form p {
    text-align: center;
}
.content-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-light-gray);
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    color: var(--color-black);
}
.form-group textarea {
    height: 150px;
}
.content-form input[type="submit"] {
    align-self: center;
    width: 140px;
}
/*.test {*/
/*    clip-path: polygon(*/
/*            0 0,         !* top-left corner *!*/
/*            100% 8%,    !* slightly below the top-right corner to create the angled slope *!*/
/*            100% 100%,   !* bottom-right corner *!*/
/*            0 100%       !* bottom-left corner *!*/
/*    );*/
/*}*/

/* ------------------------------- 6. Footer -------------------------------- */
.container-footer {
    background-color: var(--color-black);
    color: var(--color-light-gray);
    text-align: center;
    padding: 5px;
}

/* ------------------------------- 6. Media Queries -------------------------------- */

@media screen and (min-width: 640px) {
    /* -- Typography -- */
    h1 {font-size: var(--fs-tablet-h1)}
    h2 {font-size: var(--fs-tablet-h2)}
    h3 {font-size: var(--fs-tablet-h3)}

    /* -- Header -- */
    .navbar {
        justify-content: flex-end;
    }
    .header-content {
        margin: 4rem 4rem 10rem 4rem;
    }
    /* -- Introduction -- */
    .container-introduction {
        margin: 6rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    /* -- Typography -- */
    h1 {font-size: var(--fs-desktop-h1)}
    h2 {font-size: var(--fs-desktop-h2)}
    h3 {font-size: var(--fs-desktop-h3)}

    /* -- Header -- */
    .header-content {
        margin: 4rem 8rem 10rem 8rem;
    }

    /* -- Introduction -- */
    .container-introduction {
        margin: 6rem 12rem;
    }
    .container-introduction::after {
        top: 7rem;
    }

    /* -- Projecten -- */
    .container-projects {
        gap: 4rem;
    }
    .project-article {
        flex-direction: row;
    }
    .project-article:nth-child(even) {
        flex-direction: row-reverse;
    }
    .image-wrapper {
        min-width: 55%;
        flex-basis: 800px;
        flex-grow: 0;
        flex-shrink: 1;
    }
    .project-article-content {
        margin: 2rem;
    }
}